*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
font-family: sans-serif;
}
.container {    
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-header {
    width: 1030px;
    margin: 0 auto;    
    display: flex;
    justify-content: space-between;
}
.header-logo {
    text-decoration: none;
    display: flex;
    padding-top: 51px;
    margin-bottom: 22px;    
}
.header-logo:hover .img-logo {
    content: url(../images/logo_hover.png);
}
.header-logo:hover  .header-title-one {
    color: #F26522;
}
.header-logo:hover .header-title-two {
    color: #F26522;
}
.header-title {    
    margin-left: 8px;    
}
.header-title-one {    
    text-transform: uppercase;
    width: 140px;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}
.header-title-two {    
    text-transform: uppercase;
    width: 135px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
}
.kontakty {
    display: grid;
    grid-template-rows: 21px 21px;
    gap: 19px;
    justify-items: end;
    padding-top: 46px;
    margin-bottom: 17px;        
}
.header-phone {
    width: 146px;
    text-decoration: none;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;    
}
.header-mail {
    width: 219px;
    text-decoration: none;
    text-align: right;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;    
}
.header-mail:hover {
    color: #F26522;
}
.header-phone:hover {
    color: #F26522;
}
.container-main {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;       
}
.list {
    display: grid;
    grid-template-rows: repeat(2, 220px);
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 65px;
    grid-row-gap: 78px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.item {
    list-style: none;
    position: relative;    
}
.item:hover .item-description {
    z-index: 1;    
}
.item:hover .item-title {
    color: #F26522
}
.item-link {   
    text-decoration: none;        
}
.item-img {
    width: 100%;    
}
.item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.item-title:hover {
    color: #F26522;
}
.item-description {    
    position: absolute;    
    background-color: #F26522;    
    width: 100%;
    height: 55px;
    bottom: 0px;        
    z-index: -1;
}
.item-from {
    text-align: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin: 7px 257px 8px 16px;   
}
.item-price-info {
    display: flex;
    justify-content: space-between;    
}
.item-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 16px;
    margin-bottom: 12px;
    margin-right: 128px;
    margin-top: 0;
}
.item-detail {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;    
    margin-bottom: 12px;
    margin-top: 0;    
}
.item-detail::after {
    content: ">"
}
.item-detail::after {    
    width: 5px;
    height: 10px;
    margin-right: 14px;
    margin-left: 16px;
    margin-bottom: 12px;
}
.footer {
    width: 1030px;
    margin: 0 auto;
}
.footer-text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding-bottom: 15px;
    padding-top: 49px;
    margin-top: 0;
    margin-bottom: 0;    
}